{% extends "base.html" %}

{% block content %}
<div class="masthead">
    <div class="masthead-content text-white">
        <div class="container-fluid px-4 px-lg-0">
            <h1 class="fst-italic lh-1 mb-4">Create a Category.</h1>
            <form action="{{ url_for('create_category') }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.category_name.label }} <br>
                    {{ form.category_name(size=20) }}
                    <br>
                    {% for error in form.category_name.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                {{ form.submit() }}
                </p>
            </form>
        </div>
    </div>
</div>


{% endblock %}

