<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Link Vault | Login page</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&family=Unbounded:wght@400;700&display=swap" rel="stylesheet">
        
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/tooplate-kool-form-pack.css') }}" rel="stylesheet">

        <style>
            /* Custom CSS for enhancing the sign-in button */
            .btn-signin {
                background-color: #ffae51;
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                transition-duration: 0.4s;
                border-radius: 25px;
            }
    
            .btn-signin:hover {
                background-color: #0056b3;
                color: white;
            }
        </style>
<!--

Tooplate 2136 Kool Form Pack

https://www.tooplate.com/view/2136-kool-form-pack

Bootstrap 5 Form Pack Template

-->
    </head>
    
    <body>

        <main>

            <header class="site-header">
                <div class="container">
                    <div class="row justify-content-between">

                        <div class="col-lg-12 col-12 d-flex">
                            <a class="site-header-text d-flex justify-content-center align-items-center me-auto" href="{{ url_for('index') }}">
                                <i class="bi-lock"></i>

                                <span>
                                    Link Vault
                                </span>
                            </a>

                            <div>
                                <a href="https://github.com/linuxer77/LinkVault" class="custom-btn custom-border-btn btn" target="_blank">Source Code
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>

                            <a class="bi-list offcanvas-icon" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu"></a>

                        </div>

                    </div>
                </div>
            </header>


            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">                
                <div class="offcanvas-header">                    
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                
                <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
                    <nav>
                        <ul>
                            <li>
                                <a class="active" href="{{ url_for('login') }}">Login</a>
                            </li>

                            <li>
                                <a href="{{ url_for('register') }}">Create an account</a>
                            </li>
                    </nav>
                </div>
            </div>

            <section class="hero-section d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5 col-12 mx-auto">
                            <form class="custom-form" role="form" method="post">
                                {{ form.hidden_tag() }}
                                <h2 class="hero-title text-center mb-4 pb-2">Create an account</h2>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating">
                                            {{ form.username(class_='form-control', id='username', placeholder='Full Name') }}
                                            <label for="username">{{ form.username.label }}</label>
                                            {% for error in form.username.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating mb-4 p-0">
                                            {{ form.email(class_='form-control', id='email', placeholder='Email address') }}
                                            <label for="email">{{ form.email.label }}</label>
                                            {% for error in form.email.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-12">
                                        <div class="form-floating p-0">
                                            {{ form.password(class_='form-control', id='password', placeholder='Password') }}
                                            <label for="password">{{ form.password.label }}</label>
                                            {% for error in form.password.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>

                                        <div class="form-floating p-0">
                                            {{ form.password2(class_='form-control', id='password2', placeholder='Confirm Password') }}
                                            <label for="password2">{{ form.password2.label }}</label>
                                            {% for error in form.password2.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-lg-5 col-md-5 col-5 ms-auto">
                                            {{ form.submit(class="form-control btn-signin") }}
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-7">
                                            <p style="color: white;" class="mb-0">Already have an account? <a href="{{ url_for('login') }}" class="ms-2">Login</a></p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>

                <div class="video-wrap">
                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                        <source src="{{ url_for('static', filename='videos/video.mp4') }}" type="video/mp4">

                        Your browser does not support the video tag.
                    </video>
                </div>
            </section>
        </main>

        <!-- JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
        <script src="{{ url_for('static', filename='js/init.js') }}"></script>

    </body>
</html>
